li{
    list-style: none;
    display: inline;
}

p{
    display: block;
    height: 30px;
    margin-top: 10px;
}

#area-code-container {
    display: block;    
    margin-top: 6px;
}

#area-code {
    display: inline;    
    background-color: #c0bbbb;
    padding: 2px;
    margin: 2px; 
}