<div *ngIf="operator">
    
    <p>
        #{{operator.id}} - {{operator.name}}
        <button (click)="operatorService.removeOperator(operator.id, removeOperatorCallback)">x</button>
    </p>
    
    <span>

        <input 
        #inputAreaCode 
        placeholder="area code"
         [(ngModel)]="areaCode" 
        (input)="inputAreaCode.value=operatorService.inputFilterNumbers(areaCode)">

        <input placeholder="Price" currencyMask  [(ngModel)]="price">   
        
        <button 
        *ngIf="inputAreaCode.value && price" 
        (click)="operator.registerAreaCodePrice(inputAreaCode.value, price, registerAreaCodePriceCallback);areaCode=price=''"> 
            register
        </button>
    </span>

    <span id="area-code-container">
        <li *ngFor="let item of operator.areaCodes">
            <span id="area-code">
                <button (click)="operator.removeAreaCode(item.code,removeAreaCodeCallback)">x</button>
                ({{item.code}})  {{item.price}}       
            </span>         
        </li>
    </span>

</div>



