<div>
  <h2>ADD OPERATOR</h2>
  <span>
    <input placeholder="operator name" [(ngModel)]="operatorName" >
    <button [disabled]="!canCreate()" (click)="create();operatorName=''">  
      create
    </button> 
  </span>
</div>