<div id="main">
  
  <span id="titles-container">
    <h1>Telephone Operator</h1> 
    <h3>find lowest price</h3>
  </span>
  
  <span id="search-container">
    
    <input 
    #inputPhone 
    placeholder="enter phone number" 
    [(ngModel)]="phone" 
    (input)="inputPhone.value=getPhoneValue()" />
    
      <button [disabled]="!canSearch()" (click)="search();phone=''" >
        Search lowest price
      </button> 

  </span>
  
  <span id="operator-list">
    <app-create-operator></app-create-operator>  
    <app-operator-list></app-operator-list>
  </span>
  
</div>


