

#main {
    background-color: #ccc; 
    width: 90%;
    margin: auto;
    min-width: 480px;
}

#titles-container {
    height: 80px;
    display: block;
}
h1 {
    text-align: center;
    color: #6666bb;
    font-family: arial;
    font-size: 40px;
}
h3 {
    text-align: center;
    font-family: arial; 
    font-size: 20px;
}

#search-container {
    background-color: #999; 
    margin: auto;
    width: 80%;   
    height: 60px; 
    display: block;
    border: 0px;
    padding: 0px;
}
input {
    width: 80%;    
    height: 100%;
    text-align: center;
    display: inline-block;
    border: 0px;
    font-size: 40px;
    color: #999;
}
input::placeholder {
    color: #ccc;
}

button {
    display: block;
    float: right;
    height: 100%;
    width: 20%;
}

#operator-list {
    display: block;
    background-color: #c8ebf0 ;
    margin-top: 40px;
}